h1{
    color: black;
    margin-top: 20px;
}
h2{
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    margin-top: 10px;
}
h3{
    color: rgb(0, 0, 0);
    margin-bottom:  30px;
}
body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 20px;
}
p{
    color:rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 15px;
}
input{
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid red;
    border-radius: 5px;
    width: 250px;
}
img{
    width: 150px;
    height: auto;
}
#info{
    font-size: 25px;    
    margin-right: 890px;
    position: absolute;
    font-weight: bold;
    margin-top: 200px;
    align-self: auto;
}
#pic1{
    position: absolute;
    width: 200px;
    height: auto;
    margin-left: 670px;
    margin-top: 200px;
    transform: rotate(-7deg);
    border-radius: 30px;
}
#pic2{
    position: absolute;
    width: 195px;
    height: auto;
    margin-left: 1020px;
    margin-top: 220px;
    transform: rotate(7deg);
    border-radius: 30px;
}
#pic3{
    position: absolute;
    width: 230px;
    height: auto;
    margin-left: 940px;
    margin-top: 90px;
    transform: rotate(3deg);
    border-radius: 30px;
}